100
Hãy bắt đầu bằng cách giữ thẳng mặt bình thường
Giờ hãy ngửa mặt lên một chút sao cho hệ thống vẫn nhận được mặt bạn
Ok, giờ hãy cúi xuống một chút nào
Rất tốt, tiếp tục nghiêng sang bên trái một chút
Và tiếp tục nghiêng sang bên phải một chút nào
Cảm ơn, giờ chuyển sang nhìn thẳng và mỉm cười một chút
Buồn một chút
Tức giận một chút
Cười tươi thoải mái một chút
Cuối cùng tỏ ra ngạc nhiên một chút